<div class="flex flex-col min-h-[calc(100vh-100px)] relative" >
  <h2 class="text-2xl font-semibold mb-4">Edit Company Name</h2>

  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="flex flex-col flex-1">
    <div class="flex-1 pb-24" >
        <div class="grid grid-cols-2 gap-10">
            <app-form-input
                formControlName="companyName"
                label="Company Name"
                type="text"
                placeholder="Enter company name"
                [required]="true"
                [control]="companyForm.get('companyName')"
            ></app-form-input>

            <app-form-input
                formControlName="description"
                label="Description"
                type="text"
                placeholder="Enter company description"
                [required]="true"
                [control]="companyForm.get('description')"
            ></app-form-input>
            </div>
    </div>
   

    <div class="pb-14 flex justify-center gap-3 ">
      <button 
        type="button"
        (click)="cancel()"
        class="px-6 text-white w-52 py-2 border border-gray-300 font-medium rounded-full text-gray-700 bg-red-500 transition-colors">
        Cancel
      </button>
      <button 
        type="submit"
        [disabled]="submitting"
        class="px-4 py-2 w-52 bg-green-500 text-white font-medium rounded-full hover:bg-green-600 disabled:opacity-50 disabled:cursor-not-allowed transition-colors">
        {{ submitting ? 'Creating...' : 'Save' }}
      </button>
    </div>
  </form>
</div>
